<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <nav class="navbar navbar-default" style="
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
  ">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <a routerLink="search" routerLinkActive="active"></a>
          <strong>iTunes Catalog</strong>
        </ul>
      </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
